.theme-green {
    --bg1: #d5d5d5;
    --colTabAct: #4caf50;
    --colCur: #4caf50;
    --bgBut: #4caf50;
    --color-primary: #4caf50;
    --color-secondary: #328235;
    --drHov: #4caf50;
    --colButH2: #4caf50;
    --colButCh: #4caf50;
    --bgButH: #4caf50;
    --colBasV: #4caf50;
}