//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --bg1: #d5d5d5;
    /*#f2f2f2;*/
    --col1: #2c3e50;
    --bgTab: rgb(238, 238, 238);
    --colTab: rgb(128, 128, 128);
    --bgTabAct: #fff;
    --colTabAct: #705ae0;
    /* #705ae0; */
    --colCur: #705ae0;
    --bgBut: #705ae0;
    --colButCh: #705ae0;
    --bgButH: #705ae0;
    --colButSb: unset;
    --bgButSb: unset;
    --bgButInv: #d4d4d4;
    --bgButCh: #f9f9f9;
    --colBut: #f6f7f9;
    --colButH: #f6f7f9;
    --colButH2: #705ae0;
    --colItem: #2e2e2e;
    --bgCard: #fff;
    --drHov: #705ae0;
    --bgDr: #fff;
    --bgMain: rgb(235, 233, 233);
    --bgSb: rgb(235, 233, 233);
    --color-primary: #705ae0;
    --color-secondary: #6a289f;
    --bordCard: lightgray;
    --bordRad20: 20px;
    --bordRad10: 10px;
    --bordRad30: 30px;
    --bordRad50: 50px;
    --bordRad50p: 50%;
    --bor2: 2px solid rgba(0, 0, 0, .1);
    --bor1: 1px solid rgb(239, 239, 239);
    --brDrSel: #f6f7f9;
}

.theme-green {
    --bg1: #d5d5d5;
    --colTabAct: #4caf50;
    --colCur: #4caf50;
    --bgBut: #4caf50;
    --color-primary: #4caf50;
    --color-secondary: #328235;
}

.theme-dark {
    --bg1: #2e364b;
    --col1: #2c3e50;
    --bgTab: #2e364d;
    --colTab: rgb(128, 128, 128);
    --bgTabAct: #151c2e;
    --colTabAct: #495771;
    --colCur: #e8ebfa;
    --bgBut: #46526c;
    --colButCh: #8c96ac;
    --colBut: #c7d5ef;
    --colButSb: #c7d5ef;
    --bgButInv: #92a2c3;
    --bgButCh: #434e6a;
    --bgButSb: #47506e;
    --bgButH: #39445e;
    --colButH: #ffac31;
    --colButH2: #ffac31;
    --colItem: #c7d5ef;
    --bgCard: #495771;
    --drHov: rgb(88 101 133);
    --bgDr: #434f6a;
    --bgMain: transparent;
    --bgSb: #2e364d;
    --color-primary: #6a789a;
    --color-secondary: #313b54;
    --bordCard: transparent;
    --bor2: 2px solid rgb(231 231 231 / 16%);
    --bor1: 1px solid rgb(98 110 132);
    --brDrSel: transparent;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--bg1); // #673ab7
    position: fixed;
    left: 0;
    top: 0;
    right: 0px;
    bottom: 0;
    overflow: hidden;
    padding: 0 4%;
    margin: 0;
    /*background-image: linear-gradient(45deg, var(--color-primary-bm), var(--color-secondary-bm));*/
    @extend .theme-dark;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app_main {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--col1);
    margin: 0 auto;
    max-width: 470px;
    background-color: var(--colTabAct);
    border-radius: 20px;
    padding: 10px 0px;
    height: 80vh;
    /*max-height: 520px;
    width: 92vh;*/
    /*max-width: 92vw;*/
    min-width: 300px;
    max-height: 512px;
    box-shadow: 0 0 16px 0px #00000038;
    background-image: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.vis {
    opacity: 1;
}

header {
    font-size: 20px;
    color: var(--bg1);
    margin-bottom: 10px;
}

.shad {
    box-shadow: 0 0 16px 0px #00000038;
}

.inp {
    width: 20%;
    height: 30px;
    border: var(--bor2);
    /* 2px solid rgba(0, 0, 0, .1);*/
    border-radius: 100px;
    outline: none;
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    transition: all .4s;
    text-align: center;
}

.hidden {
    display: none !important;
}

.listOther {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--bordRad20);
    background-color: var(--bgCard);
    padding: 20px 20px;
    border: 1px solid var(--bordCard);
    margin: 5px 0;
}

.card2 {
    border-radius: var(--bordRad20);
    background-color: var(--bgCard);
    padding: 10px 5px;
    border: 1px solid var(--bordCard);
    margin: 5px 0;
    transition: all 1s ease;
}

.summa {
    font-size: 20px;
    font-weight: bold;
    color: var(--colButH2);
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.upper {
    text-transform: uppercase;
}

.dflex {
    display: flex;
    align-items: center;
}

.dflex2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dflex3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}